{% extends 'nav/nav.html' %}

{% block title %}Disease name : Thyroid{% endblock %}

{% block content %}

<style type="text/css">
</style>
<br>
<br>
<div class="row text-center">
	<div class="col-lg-4">
		<h3>Thyroid : </h4>
		<p>Thyroid disorders are conditions that affect the thyroid gland, a butterfly-shaped gland in the front of the neck. The thyroid has important roles to regulate numerous metabolic processes throughout the body. Different types of thyroid disorders affect either its structure or function.</p>
	</div>
	<div class="col-lg-4">
		<h5>Symptoms : </h4>
		<p>1. The thyroid has important roles to regulate numerous metabolic processes throughout the body. Different types of thyroid disorders affect either its structure or function.</p>
		<p>1. The thyroid has important roles to regulate numerous metabolic processes throughout the body. Different types of thyroid disorders affect either its structure or function.</p>
	</div>
	<div class="col-lg-4">
		<h4>Test and diagnosis</h4>
		<p>1. blood test</p>
		<p>2. Spit test</p>
	</div>
</div>
<br>
<br>
<div class="row text-center">
	<h4>QUESTIONS ON THYROID</h4>
</div>

{% endblock %}